
<div class="navbar" role="navigation">
  
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <div class="col-md-6 pull-left">
      <p id="bar-title">The Spring Valley Marketplace</p>
    </div>
    
  </div>

</div>

<div class="navbar-form" role="search">
  <div class="input-group">
    <%= text_field_tag "search-box", params['search'] || '', class: "form-control", placeholder: "Search" %>
    <div class="input-group-btn">
      <button id="show-advanced-search" class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
    </div>
  </div>
</div>
<div class="navbar-form" role="advanced-search">
  <div class="col-md-6"></div>
  <div class="col-md-4">
    <div class="form-group">
      <%= text_field_tag 'location_names', nil, id: "form-field-tags" %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= check_box_tag 'women_only' %> <%= label_tag "Show women only?" %>
    </div>
  </div>
</div>

<section class="center sieve">
  <%= render "listings" %>
</section>



<% if (user_signed_in?) %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data:{no_turbolink: true} %>
<% end %>
